* {
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 20px;
    margin: 0;
    background-image: linear-gradient(yellow, white);
}

/*nav elements*/
nav {
    width: 100%;
    height: 60px;
    margin: 0;
    background-color:yellow;
}

.mobileMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    height: 60px;
    width: 60px;
    color: white;
    float: left;
    overflow: hidden;  
}

button.menubtn {
    border: none;
    background-color: yellow;
 }

.menubtn img {
    width: 50px;
}

.menubtn:hover {
    cursor: pointer;
}

.menuContent {
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: white;
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.2);
}

.menuContent a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

.mobileMenu:hover .menuContent {
    display: block;
}

.menuContent a:hover {
    background-color: yellow;
}

.userInfo {
    float: right;
    width: 175px;
    height: 60px;
    background-color: transparent;
    font-size: 17px;
}

/*main area content*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container > h2 {
    color: midnightblue;
}

/*animations*/
@-webkit-keyframes slideInFromTop {
    0% {-webkit-transform: translateY(-120%);}
    100% {-webkit-transform: translateY(0);}
}

@keyframes slideInFromTop {
    0% {transform: translateY(-120%);}
    100% {transform: translateY(0);}
}

@-webkit-keyframes slideInFromLeft {
    0% {-webkit-transform: translateX(-400%);}
    100% {-webkit-transform: translateX(0);}
}

@keyframes slideInFromLeft {
    0% {transform: translateX(-400%);}
    100% {transform: translateX(0);}
}

@-webkit-keyframes slideInFromRight {
    0% {-webkit-transform: translateX(400%);}
    100% {-webkit-transform: translateX(0);}
}

@keyframes slideInFromRight {
    0% {transform: translateX(400%);}
    100% {transform: translateX(0);}
}

@-webkit-keyframes slideInFromBottom {
    0% {-webkit-transform: translateY(250%);}
    100% {-webkit-transform: translateY(0);}
}

@keyframes slideInFromBottom {
    0% {transform: translateY(250%);}
    100% {transform: translateY(0);}
}

@-webkit-keyframes diceRoll {
    0% {-webkit-transform: rotate(150deg);}
    25% {-webkit-transform: rotate(-200deg);}
    50% {-webkit-transform: rotate(150deg);}
    75% {-webkit-transform: rotate(-150deg);}
    100% {-webkit-transform: rotate(300deg);}
}

@keyframes diceRoll {
    0% {transform: rotate(150deg);}
    25% {transform: rotate(-200deg);}
    50% {transform: rotate(150deg);}
    75% {transform: rotate(-150deg);}
    100% {transform: rotate(300deg);}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-animation: 1s ease-in 0s 1 slideInFromTop;
    animation: 1s ease-in 0s 1 slideInFromTop;
}

.animation a {
    margin-top: -30px;
    margin-bottom: 5px;
}

.bottomAnimation {
    font-size: 16px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 15%;
    -webkit-animation: 1s ease-in 0s 1 slideInFromBottom;
    animation: 1s ease-in 0s 1 slideInFromBottom;
}

.questionAnimation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-animation: 1s ease-in 0s 1 slideInFromLeft;
    animation: 1s ease-in 0s 1 slideInFromLeft;
}

.answerAnimation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    -webkit-animation: 1s ease-in 0s 1 slideInFromRight;
    animation: 1s ease-in 0s 1 slideInFromRight;
}


/*home page elements*/
.homeRecord {
    width: 200px;
    margin-top: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.home {  
    width: 100%;
    height: 300px;
    margin-bottom: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: -10px;
    -webkit-animation: 1.5s ease-in 0s 1 slideInFromTop;
    animation: 1.5s ease-in 0s 1 slideInFromTop;
}

.homeBtn {
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.5);
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.homeBtn:hover {
    width: 225px;
    height:70px;
    color: white;
    background-color: black;
}


/*loader*/
.loader {
    justify-content: center;
    align-content: center;
    width: 250px;
    display: block;
    font-size: 20px;
    text-align: center;
}
.loader > img {
    margin-left: -50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/*genre select elements*/
h2 {
    margin-bottom: -5px;
}
fieldset {
    border: none;
    margin-bottom: -10px;
}
label {
    margin-top: 10px;
}
select {
    font-size: 16px;
    width: 300px;
    height: 30px;
    border: 1px solid black;
}

.userEnterKeyword {
    width: 300px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
}

#keywordSearchBtn {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

#keywordSearchBtn:hover {
    width: 300px;
    height: 40px;
    font-size: 15px;
}

.dice {
    width: 15%;
    margin-top: 5%;
}

.dice:hover {
    cursor: pointer;
    -webkit-animation: 1s ease-in-out 0s 1 diceRoll;
    animation: 1s ease-in-out 0s 1 diceRoll;
}

.randomBtn {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.randomBtn:hover {
    width: 300px;
    height: 40px;
    font-size: 15px;
}

/*question page*/
.playSong {
    background-image: url('images/playButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin-top: 4%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}
  
.playSong:hover {
    background-image: url('images/record.png');
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.pauseSong {
    background-image: url('images/pauseButton.png');
    z-index: 1;
}

.userAnswer {
    width: 80%;
    height: 40px;
    border: 1px solid black;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.userAnswerBtn {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.userAnswerBtn:hover {
    width: 250px;
    height: 50px;
    font-size: 18px;
}

.multiUserAnswerBtn {
    width: 300px;
    height: 80px;
    padding: 5px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}

.multiUserAnswerBtn:hover {
    width: 300px;
    height: 70px;
    font-size: 16px;
}

.answerResult {
    height: 150px;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    font-size: 20px;
}

.quizMasterAnswer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
    width: 300px;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    background-color: white;
    text-align: center;
}

/*answer page*/
.albumCoverImg {
    width: 250px;
}

.addPoint {
    width: 300px;
    height: 65px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.addPoint:hover {
    width: 250px;
    height: 50px;
    font-size: 15px;
}
.nextSong {
    width: 250px;
    height: 45px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.nextSong:hover {
    width: 250px;
    height: 50px;
    font-size: 15px;
}

#quitGame {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

#quitGame:hover {
    width: 250px;
    height: 50px;
    font-size: 15px;
}

/*final results page*/
.finalResultsBtn {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.finalResultsBtn:hover {
    width: 250px;
    height: 50px;
}

.finalResults {
    height: 200px;
    font-size: 20px;
    margin-top: 30%;
}

/*game over page*/
.gameOver {
    width: 200px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s; /* Safari */
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.gameOver:hover {
    width: 250px;
    height: 50px;
    font-size: 15px;
}

.hidden {
    display: none;
}

/*media query for desktops*/
@media only screen and (min-width: 750px){



}